<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>

    <div ng-app="myApp" ng-controller="mainCtrl">
      
      <ul class="list-group">

        <li ng-repeat="item in items"  class="list-group-item" >

          <button ng-click="flowButtonClick($index)" type="button" class="btn {{ item.buttonClass }}">{{ item.data.flow }}</button>   
          <span tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="{{item.definitionDescription}}">{{ item.data.definition}}</span>
        
          <div style="display: inline" ng-repeat="arg in item.data.args">

            <span tabindex="0" data-toggle="popover" data-trigger="focus" title="{{arg}}" data-content="{{ item.data.argDescription[arg]  }}" ng-mouseover="argElementHover($parent.$index, $index)" class="badge badge-secondary">{{ arg }}</span>

          </div>
          
        </li>

      </ul>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>

      var definitions = <%= definitions %>
    
      var app = angular.module('myApp', [])

      app.controller('mainCtrl', function($scope, $http) {
       

        $scope.items = definitions.map( function(definition) {
         
          var item = {}
          item.data = Object.assign({}, definition)

          // set button Class
          if (definition.flow  == 'Given') {  item.buttonClass = 'btn-primary' } 
          if (definition.flow  == 'When') {  item.buttonClass = 'btn-warning' }
          if (definition.flow  == 'Then') {  item.buttonClass = 'btn-danger' } 

          item.definitionDescription = `DESC: ${item.data.description} <br><br> EXAMPLE: ${item.data.example}`

          return item 

        }) 

        $scope.selectedFlow = null

        $scope.initItems = Object.assign([], $scope.items)

        $scope.flowButtonClick = function(idx) {

          var flow = $scope.items[idx].data.flow

          $scope.selectedFlow = $scope.selectedFlow == flow ? null : flow

          $scope.items = $scope.initItems.filter(function(item) {
         
            if (!$scope.selectedFlow) return true

            return item.data.flow == $scope.selectedFlow
          
          })

        }

        $scope.argElementHover = function(parentIdx, idx) {
      
//          console.log($scope.items[parentIdx].data.args[idx])
      
        }

      })

      $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 

        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
      });

    </script>
  </body>


</html>
